#judul {
    color: darkslategray;
}

#subjudul {
    color: gray;
}

section {
    margin: 10px;
}

nav ul li a { 
    color: red; 
}

body {
    margin: 10;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Arial, sans-serif;
}

nav {
    margin: 30px;
}

main {
    margin: 30px;
}

footer {
    margin-top: 200px; 
    padding: 20px;
    text-align: left;
}
