#judul {
    color: darkslategray;
}
#subjudul {
    color: gray;
}
body, h1, h2, h3, p, ul, li {
    margin: 10;
    padding: 10;
}
section {
    margin:10;
}


nav ul li a { color: red; }

body {
    margin: 10;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Arial, sans-serif;
  }

nav {
    flex: 1;
}
main {
    flex: 1; 
    margin: 20px; 
  }
footer {
    flex: 1;
    margin-top: 50px; 
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
  }
